{{#each []}}
	<label>{{this.label}}</label>
	<input id="search" type="{{this.type}}" data-keyup="searchModel" placeholder="{{this.placeholder}}" name="{{this.name}}"/>
	<select name="" data-change="searchModel">
		<option value="caroLe">caroLe</option>
		<option value="Jona">Jona</option>
		<option value="tes">tes</option>
	</select>
{{/each}}